</head>

<body>
    <h1>Curso de Node</h1>
    <nav class="navbar navbar-expand-lg navbarlight bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registro">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/soporte">Soporte</a>
                    </li>

                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link idioma d-flex align-items-center 
                        <%= lang === 'es' ? 'active' : '' %>" href="#" onclick="changeLang('es')" title="Español">
                        <img src="/resources/img/es.png" alt="Español" width="24" height="24" class="me-1">🇪🇸
                        </a>
                    </li>
                    <li> 
                        <a class="nav-link idioma d-flex align-items-center 
                        <%= lang === 'en' ? 'active' : '' %>" href="#" onclick="changeLang('en')" title="English">
                        <img src="/resources/img/en.png" alt="English" width="24" height="24" class="me-1">🇬🇧
                        </a>
                    </li>
                </ul>   
            </div>
        </div>
        <script>
            function changeLang(lang) {
                const currentPath = window.location.pathname + window.location.search;
                window.location.href = `/set-lang/${lang}?returnTo=${encodeURIComponent(currentPath)}`;
            }
        </script>
    </nav>